<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {%- if page.title -%}
        {{ page.title | escape }}
        {%- else -%}
        {{ site.title | escape }}
        {%- endif -%}
    </title>

    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/highlight.css">
    {%- include vendor/devicon.html -%}
    {%- include vendor/fontawesome.html -%}

    {%- include vendor/polyfill.html -%}
    {%- include vendor/jquery.html -%}
    {%- include vendor/bootstrap.html -%}
    {%- include vendor/mathjax.html -%}
    {%- include vendor/mermaid.html -%}
    <script src="/assets/js/main.js"></script>

</head>
